.container {
    position: relative;
}

.container > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 220px;
    top: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px rgba(171, 171, 171, 0.407);
    background-color: rgb(255, 255, 255);
    rotate: 180deg;
    font-size: 15px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    z-index: 1;
}

.container > div:nth-child(2) {
    padding-top: 80px;
    padding-bottom: 50px;
}

@media (max-width: 544px) {
    .container > div:nth-child(1) {
        left: 0px;
        top: 50px;
    }
}