.container > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container > div:nth-of-type(2) > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container > div:nth-of-type(2) > div > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.newLangContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 400px;
    margin: 0 auto;
}

.newLangContainer > div:nth-of-type(1) {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.newLangContainer > div:nth-of-type(1) > button {
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.newLangContainer > div:nth-of-type(1) > button.selected {
    background-color: #4c04a6;
    color: rgb(255, 255, 255);
    border: none;
}

.infoCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoCard input {
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.infoCard button {
    width: 100%;
    height: 50px;
    font-size: 15px;
    background-color: #4c04a6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.newLanguageForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newLanguageForm h1 {
    font-size: 20px;
    font-weight: 500;
}

.newLanguageForm input,
.newLanguageForm button {
    max-width: 400px;
    padding: 10px 10px;
    font-size: 13px;
}

.newLanguageForm button {
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    transition: 0.3s ease all;
}

.newLanguageForm button:hover {
    color: white;
    background-color:rgb(110, 44, 171)
}

.newLanguageForm .section {
    display: flex;
    max-width: 400px;
    border: 1px solid black;
}

.newLanguageForm .section button {
    border: none;
    border-left: 1px solid black;
}

.newLanguageForm .section input {
    flex: 1;
}

.newLanguageForm .subSections {
    max-width: 400px;
    display: flex;
}

.newLanguageForm .subSections > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.newLanguageForm .subSections > div input {
    flex: 1;
}