.container {
    padding-top: 150px;
}

.header > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

.header > div h1 {
    font-size: 60px;
    font-weight: 400;
}

.header > div p {
    max-width: 600px;
}

.header > div button {
    width: fit-content;
    border: none;
    background-color: #4c04a6;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.content {
    display: flex;
}

.content > div {
    padding-bottom: 30%;
    width: 50%;
    background-color: #d5d2cf;
}

.content > div:nth-child(2) {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    background-color: #150333;
    padding: 70px 60px;
    gap: 40px;
}

.content > div:nth-child(2) > div {
    width: fit-content;
    max-width: 200px;
    color: white;
    line-height: 23px;
}

.content > div:nth-child(2) > div > div:nth-child(1) {
    background-color: #281944;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.content > div:nth-child(2) > div > div:nth-child(1) i {
    font-size: 20px;
}

.content > div:nth-child(2) > div h2 {
    font-size: 16px;
}

.content > div:nth-child(2) > div h3:nth-child(3),
.content > div:nth-child(2) > div h3:nth-child(4) {
    font-size: 16px;
    font-weight: 400;
}

.content > div:nth-child(2) > div h3:nth-child(2) {
    font-weight: 400;
    margin-bottom: 20px;
}

.content > div:nth-child(2) > div p {
    color: gray;
}
