.container {
    display: flex;
    gap: 10px;
}

.subContainer {
    border: 1px solid rgb(209, 50, 22);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.subContainer i {
    font-size: 12px;
    color: rgb(209, 50, 22);
}

.container p {
    font-size: 13px;
    color: rgb(209, 50, 22);
}



